*{
    ;

}
nav{
    background-color: aqua;
    margin-top: o;
    padding-top: 0;
    margin-left: 0;
    padding-right: 0;
}
.das{
    display: flex;
    justify-content: space-between;
}
.display ul{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding-left:0; */
    padding-right: 0;
}
 nav ul li{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
;



}
h1{
    font-size: 50px;
    text-align: center;
margin-left: 67px;
}
p{
    font-size: 18px;
}
se{
    margin-left: 23px;
}
.des{
    display: flex;
}
.img{
    width: 250px;
    margin-left: 20px;
}
.dav{
    margin-left:5px;
}
h2{
    text-align: center;
    font-size: 23px;
    font-family: cursive;
    color: white
}
nav{
   background-color: rgb(121, 50, 50);
   padding-left: 0;
   padding-right: 0;
   margin-left: 0;
   margin-right: 0;
}
.about{
    /* text-align: center */
    margin-left: 200px;
    font-family: roboto;
}
p{
    margin-left: 12px;
}
.sp{
    margin-left: 18px;
    font-family: cursive;
}
.job{
    margin-left: 400px;
    font-family: cursive;
}
input{
    margin-left: 500px;
}